<!DOCTYPE html>
<html>
    <head>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="/static/js/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.10.3.custom.js"></script>
        {% block javascript %}{% endblock %}
        {% block css %}{% endblock %}
    </head>
    <body>
        <div id="base_content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
